@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  --widthSidebar: 280px;
  --backgroundColor: #162539;
  --activeColor: #1890ff;
  --primaryColor: 253e5f;
  --secondaryColor: #bbc3cd;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(250, 250, 250, 1);
}
